* {
  text-decoration: none;
  font-family: arial, sans-serif;
}

a {
color: inherit;
/* display: inline; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
}

#navBar li {
  display: inline-block;
  padding-top: 7px;
  padding: 7px;
  color: #404040;
  font-size: 13px;
}

#navBar .navRight{
  float: right;
  padding-left: 10px;
}

#navBar .navLeft {
  float: left;
  padding-left: 10px;
  margin-right: 2px;
}

#navBar #signIn {
float: right;
background-color: #4887ef; 
margin-right: 25px;
padding: 8px 15px;
border-radius: 2px; 
font-weight: bold;
color: white;
margin-right: 30px;
margin-left: 10px;
}

.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}

.searchBar {
  text-align: center;
}

#search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.searchBar #search {
  padding: 0 8px;
  /* border-radius: 5px; */
}

.searchBar #search:hover {
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.15);
}

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
  /* background-color: #f7f7f7; */
}

#googleSearch {
  background-color: rgba(242,242,242);
  color: #6e6c6c;
  border-radius: 5px;
  padding-top: 7px;
  padding: 8px 15px 8px 15px;
  margin: 3px;
  border: none;
  font-size: 14px;
  height: 36px;
}

#imFeelingLucky {
  background-color: rgb(242,242,242);
  color: #6e6c6c;
  border-radius: 5px;
  padding-top: 7px;
  padding: 8px 15px 8px 15px;
  margin: 3px;
  border: none;
  font-size: 14px;
  height: 36px;
}

#googleSearch:hover {
  background-color: #f7f7f7;
  border: 1px solid #b4b0b0;
  color: black;
  cursor: pointer;
}

#imFeelingLucky:hover {
  background-color: #f7f7f7;
  border: 1px solid #b4b0b0;
  color: black;
  cursor: pointer;

}


footer  {
  background: #f7f7f7;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
 border-top: 1px solid #e4e4e4;
}

footer ul li {
  display: inline;
  color: #5f6368;
  font-size: 14px;
  padding: 13px;
}

.footerLeft {
  float: left;
  padding: 1px;
  margin-bottom: 15px;
}

.footerRight {
  float: right;
  
}